<div class="container">
  <div class="email-preview">
    <div class="email-header">
      <strong>From:</strong>
      {{from}}<br />
      <strong>Subject:</strong>
      Reset Your Password
    </div>
    <div class="email-body">
      <h2 style="color: #2d3748; margin-bottom: 15px;">Password Reset Request</h2>
      <p>Hi {{username}},</p>
      <p>We received a request to reset your password. If you made this request, click the button
        below to create a new password:</p>
      <a href="{{resetLink}}" class="cta-button">Reset Password</a>
      <p><small>This link will expire in 1 hour. If you didn't request a password reset, you can
          safely ignore this email.</small></p>
      <p>Best regards,<br />The {{app}} Team</p>
    </div>
  </div>
</div>